body{
	font-family: 'Poppins', sans-serif;
	margin:0px;
}
.one{
	display:flex;
	background-color:#20B2AA;
}
.one h1{
	font-size:40px;
}
.pic img{
	width:370px;
	height:400px;
	margin-top:20px;
	margin-bottom:20px;
}
.self{
	color:white;
	width:400px;
	height:400px;
	text-align:center;
	text-transform:capitalize;
	margin-top:40px;
	margin-bottom:20px;
}
.det{
	color:white;
	width:400px;
	height:400px;
	text-align:center;
	text-transform:capitalize;
	margin-top:40px;
	margin-bottom:20px;
}
span{
	color: royalblue;
}
.box{
	display:flex;
	border:solid white;
	width:900px;
	height:100px;
	margin:auto;
}
.two{
	border:solid #20B2AA;
	width:1000px;
	height:150px;
	margin:40px 40px 40px 100px;
	box-shadow:2px 5px 7px 3px	#20B2AA;
	border:solid #20B2AA;
	border-radius:20px;
}
.main{
	background-color:white;
	margin:40px 40px 40px 30px;
	transition:2s;
}
.main img{
	width:60px;
	height:50px;
}
.main:hover{
	border-radius:20px;
	margin-top:5px;
}
.word h1{
	text-align:center;
	color:teal;
	font-size:50px;
	margin-top:60px;
	margin-bottom:100px;
	text-shadow: 2px 2px 10px #d48176;
}
.three{
	background-color:white;
	margin:40px 40px 40px 40px;
	display:flex;
	
}
.p1{
	color:white;
	background-color:#48D1CC;
	width:400px;
	height:350px;
	text-align:center;
	margin:60px 40px 60px 40px;
	border-radius:20px;
	box-shadow:3px 3px 3px 10px #FFE4E1;
	border:solid gray;
}
.p1 img{
	width:80px;
	height:80px;
	margin-top:25px;
}
.p2{
	color:#20B2AA;
	background-color:#FFF0F5;
	width:400px;
	height:400px;
	text-align:center;
	margin:40px 40px 40px 40px;
	border-radius:20px;
	box-shadow:3px 3px 3px 10px #A0522D;
	border:solid black;
}
.p2 img{
	width:80px;
	height:80px;
	margin-top:25px;
}
.p3{
	color:white;
	background-color:#48D1CC;
	width:400px;
	height:350px;
	text-align:center;
	margin:60px 40px 60px 40px;
	border-radius:20px;
	box-shadow:3px 3px 3px 10px #FFE4E1;
	border:solid gray;
}
.p3 img{
	width:80px;
	height:80px;
	margin-top:25px;
}
.word{
	width:700px;
	height:50px;
	margin:auto;
	text-decoration:900;
}
a{
	text-decoration:none;
	color:teal;
	background-color:#E0FFFF;
	padding:10px;
	border:solid #00FFFF;
	margin:40px 20px 20px 20px;
	border-radius:20px;
	transition:1s;
}
 a:hover{
	 color:#FFE4E1;
	background-color:#CD853F;
}
.end{
	display:flex;
	background-color:#AFEEEE; 
	width:auto;
	
}
.four h1{
	color:#20B2AA;
	text-decoration:underline;
	font-size:30px;
	text-align:center;
}
.four{
	width:700px;
	height:400px;
	text-align:justify;
	margin:60px 10px 0px 40px;
	padding:30px;
}
.four p{
	font-size:20px;
	margin-bottom:60px;
}
.five img{
	width:420px; 
	height:460px;
	margin:40px 20px 0px 40px;
}
footer{
	color:white;
	background-color:gray;
	text-align:center;
	height:100px;
}
footer p{
	margin:auto;
	padding:40px;
}